.todo{
    width: 100%;
    background-color: #474b4e;
    padding: 2em;
}

.CardsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    padding: 2em;
    background-color: #474b4e;
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
   
}

.container{
    
    background-color: #474b4e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1em;
    gap: 1em;
    margin-bottom: 1em;
}

.ordenamiento{
    display: flex;
    flex-direction: column;
}

.ordenamiento label{
    text-align: center;
    color: whitesmoke;
}

.filtrados{
    display: flex;
    gap: 1em;
    
}

.filtrados select{
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    font-size: 16px;
    color: whitesmoke

}